@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

body {
    margin: 0;
}
#logo {
    height: 4rem;
    border-radius: 999px;
}
a {
    text-decoration: none;
    color: white;
}
h1, h2, h3 {
    font-family: "Abril Fatface", 'Times New Roman';
    color: #7AA4FF;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
p, a {
    font-family: "Lora", serif;
}
p {
    padding: 1rem;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #7AA4FF;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    background-color: #7AA4FF;
}
.call-to-action-button {
    background: #7AA4FF;
    border: none;
    color: white;
    text-wrap: nowrap;
    padding: 1rem;
    width: fit-content;
}
#navigation-links {
    display: flex;
    gap: 1rem;
}
#home-first-section {
    height: 60vh;
    display: flex;
    padding-top: 3vw;
    align-items: center;
}
.home-first-section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#first-section-header {
    height: 38vw;
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 999px;
}
.home-other-section {
    padding: 10vw;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 5vw;
}
.home-other-section-img {
    width: 100%;
    object-fit: cover;
    height: 70vh;
}
#portfolio-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2vw;
    justify-content: center;
}
#portfolio-section > img {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
}
.about-shop-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh;
    align-items: center;
    justify-items: center;
    padding: 5vw;
    gap: 5vw;
}
.about-shop-section-img {
    height: 100%;
}
.about-owner-section {
    display: flex;
    align-items: center;
    padding: 5vw;
    gap: 5vw;
}
.about-owner-section > img {
    width: 50%;
}